* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxanium;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: black;
    color: antiquewhite;
}

.wrapper {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 1rem;
    background: transparent;
    
}

.diagonal {
    position: relative; 
    isolation: isolate; /*För att pseudoelementet ska stanna i elementet och inte hamna bakom */
    background: transparent;
}

.header {
    display: flex;
    padding: 1rem;
    font-size: 4rem;
    background: transparent;
    flex-wrap: wrap;
    

}

.section-title {
    font-size: 2rem;
    background: transparent;
    transform: skewY(-5deg); /*Roterar texten */
}

.diagonal::after { /*Skapar pseudoelementet ::after */
    content: '';
    background-image: linear-gradient(45deg, #b30b0b, #54088a, #fdec09);
    position: absolute; /* för att pseudoelementet ska stanna i diaganol */
    z-index: -1; /* Hamnar bakom diagonal */
    transform: skewY(-5deg); /*Roterar elementet */
    inset: 0; /* För att fylla ut diagnoal */
}

section {
    padding-block: 2rem;
    justify-content: center;
}

.container {
    display: flex;
}

.menu {
    padding: 1rem;
    margin-top: 5rem;
    max-width: 50rem;
    background-image: linear-gradient(45deg, #b30b0b, #54088a, #fdec09);
    border-radius: 20px;
}

.header h1 {
    font-size: 4rem;
}

.wrapper p {
    background-color: transparent;
    transform: skewY(-5deg);
}

.menu p {
    background: transparent;
    font-style: italic;
}

.menu h2 {
    background: transparent;
    font-size: 2rem;
    text-align: center;
}

.menu h3 {
    font-size: 1.5rem;
    background: transparent;
}

.menudish {
    text-align: center;
    font-size: 2rem;
}

.footer p {
    font-size: 1rem;
    text-align: center;
}

.navbar {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

